.LoginForm {
  text-align: center;
  padding: 1%;
}

.loginErrorMsg {
  font-size: small;
}

.toolbar-buttons{
  margin: 7px;
}

.loginTitle {
  text-align: center;
}

.AppTitle {
  position: absolte;
  text-align: center;
}

.AppTitle h1 {
  margin-left: 23%;
}

.background {
  height: 100vh;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #3F51B5 !important;
}

::ng-deep mat-form-field {
  color: white!important;
}
::ng-deep mat-form-field  .mat-form-field-label {
  color: white!important;
}

::ng-deep mat-form-field .mat-form-field-underline {
  background-color: white!important;
}







