.WhiteText {
  color: white;
}

.Video {
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;

}

.vidTitle{
  text-align: left;
}

.toolbar-buttons{
  margin: 7px;
}

.loginTitle {
  text-align: center;
}

.AppTitle {
  position: absolte;
  text-align: center;
}

.AppTitle h1 {
  margin-left: 23%;
}

.background {
  height: 100vh;
}

.background {
  background-color: #c4c4c4;
  min-height: 100vh;
}

.searchBar {
  text-align: center;
  padding: 1%;
}

.searchBar button {
  margin-left: 1%;
}

.loadBtn {
  text-align: center;
}

.hideBtn {
  float:right;
  padding: 5px;
}

.ServerError {
  text-align: center;
}

.FileNotFound {
  text-align: center;
}

.toolbar-buttons{
  margin: 7px;

}

.uploadStatus{
  text-align: center;
  margin-top: 10px;
}

.list {
  text-align: center;
}

.list table {
  margin-left: auto;
  margin-right: auto;
}
.list th {
  text-align: center;
}

.tableCell {
  padding: 10px;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #3F51B5 !important;
}

::ng-deep mat-form-field {
  color: white!important;
}
::ng-deep mat-form-field  .mat-form-field-label {
  color: white!important;
}

::ng-deep mat-form-field .mat-form-field-underline {
  background-color: white!important;
}
