<mat-toolbar color="primary">
  <div fxFlex class="AppTitle">
    <h1> Struster </h1>
  </div>
  <div class="buttons">
    <button mat-raised-button color="accent" (click)="searchBtn()" class="toolbar-buttons">Search</button>
    <button mat-raised-button color="accent" (click)="list()" class="toolbar-buttons" *ngIf="!showList">List All</button>
    <button mat-raised-button color="accent" (click)="closeList()" class="toolbar-buttons" *ngIf="showList">Close List</button>
    <button mat-raised-button color="accent" (click)="upload()" class="toolbar-buttons">Upload</button>
    <button mat-raised-button color="accent" (click)="update()" class="toolbar-buttons">Update Registry</button>
    <button mat-raised-button color="warn" (click)="logout()" class="toolbar-buttons">Logout</button>
  </div>

</mat-toolbar>

<!--Search Bar-->
<div class="searchBar" *ngIf="showSearch">
  <form flex [formGroup]="search" (ngSubmit)="submit()">
    <mat-form-field appearance="outline">
      <mat-label>Search</mat-label>
      <input matInput formControlName="searchTerm">
    </mat-form-field>
    <button mat-raised-button color="accent">Search!</button>
  </form>

</div>


<div class="searchBar" *ngIf="showUpload">
  <form flex [formGroup]="uploadForm" (ngSubmit)="remoteUpload()">
    <mat-form-field appearance="outline">
      <mat-label>Enter Video Name</mat-label>
      <input matInput formControlName="uploadName">
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label>Enter Upload URL</mat-label>
      <input matInput formControlName="uploadURL">
    </mat-form-field>
    <br>
    <button mat-raised-button color="accent" class="uploadBtn">Upload!</button>
  </form>
</div>

<!--Load Video Button-->
<div class="loadBtn" *ngIf="showBtn">
  <button mat-raised-button color="accent" (click)="loadVid()">Load Video: {{ searchTerm }}</button>
</div>

<!--Video iframe-->
<div class="Video" *ngIf="showVid">
  <h1 class="WhiteText vidTitle">{{vidName}}</h1>
  <iframe [src]="vidurl" width="100%" height="600" allowfullscreen allowtransparency allow="autoplay" scrolling="no" frameborder="0"></iframe>
  <button mat-raised-button color="accent" (click)="hideVid()" class="hideBtn">Close Video</button>
  <br>
  <br>
</div>

<!--Server Error-->
<div class="ServerError" *ngIf="registery.status != 200">
  <p class="WhiteText">Server Error {{registery.status}}</p>
</div>

<!--File Not Found-->
<div class="FileNotFound" *ngIf="NotFoundToggle">
  <p class="WhiteText">{{  NotFoundDisplay }}</p>
</div>

<!--Upload Status-->
<div class="uploadStatus" *ngIf="showUploadStatus">
  <!--Upload Success-->
  <div *ngIf="uploadSuccess" class="WhiteText">
    <h3>{{  uploadStatusMsg }}</h3>

    <p> Upload Name: {{  uploadName }}</p>

    <p>Upload Link: {{  uploadLink }}</p>

    <p>Video will be viewable after upload completes.</p>
  </div>
  <!--Upload Error-->
  <div *ngIf="!uploadSuccess" class="WhiteText">
    <h3>{{  uploadStatusMsg }} whilst uploading</h3>

    <p> Upload Name: {{  uploadName }}</p>

    <p>Upload Link: {{  uploadLink }}</p>
  </div>
</div>

<!--List-->
<div class="list" *ngIf="showList">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8"> <!--Data Source and Colums pre-defined in update() and variable initialisation-->

    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let video" class="tableCell"> {{video.name}} </td>
    </ng-container>

    <ng-container matColumnDef="Size">
      <th mat-header-cell *matHeaderCellDef> Size </th>
      <td mat-cell *matCellDef="let video" class="tableCell"> {{video.size}} bytes </td>
    </ng-container>

    <ng-container matColumnDef="Direct Link">
      <th mat-header-cell *matHeaderCellDef> Direct Link </th>
      <td mat-cell *matCellDef="let video" class="tableCell"><button mat-raised-button color="primary" (click)="navigate(video.link)">External Link <mat-icon [inline]="true">launch</mat-icon></button></td>
    </ng-container>

    <ng-container matColumnDef="Stream">
      <th mat-header-cell *matHeaderCellDef> Stream </th>
      <td mat-cell *matCellDef="let video" class="tableCell"><button mat-raised-button color="accent" (click)="viewFromList(video.linkid, video.name)">Watch</button></td>
    </ng-container>

    <ng-container matColumnDef="Delete">
      <th mat-header-cell *matHeaderCellDef> Delete </th>
      <td mat-cell *matCellDef="let video" class="tableCell"> <button mat-mini-fab color="warn" (click)="deleteVid(video.linkid)"><mat-icon>delete</mat-icon></button> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <br>
  <br>
</div>
