.toolbar-buttons{
  margin: 7px;
}

.loginTitle {
  text-align: center;
}

.AppTitle {
  position: absolte;
  text-align: center;
}

.AppTitle h1 {
  margin-left: 23%;
}

.background {
  height: 100vh;
}

.background {
  background-color: #c4c4c4;
  min-height: 100vh;
}

.searchBar {
  text-align: center;
  padding: 1%;
}

.searchBar button {
  margin-left: 1%;
}

.loadBtn {
  text-align: center;
}

.Video {
  text-align: center;

}

.ServerError {
  text-align: center;
}

.FileNotFound {
  text-align: center;
}

.toolbar-buttons{
  margin: 7px;

}

.uploadStatus{
  text-align: center;
  margin-top: 10px;
}

.list {
  text-align: center;
}

.list table {
  margin-left: auto;
  margin-right: auto;
}
.list th {
  text-align: center;
}

.tableCell {
  padding: 10px;
}
